---
import Layout from '../layouts/Layout.astro';
import LPILogo from '../assets/lpi-logo-2024-red.svg';
import XLogo from '../assets/twitter-x.svg';
import instagramLogo from '../assets/instagram.svg';
import whatsAppLogo from '../assets/whatsapp.svg';
---

<Layout title="LP Indonesia">
  <img src={LPILogo.src} alt="LPI Logo" class="w-48 mb-4" />
  <div>
    <h1 class="-mb-2 font-['BebasNeue'] text-4xl text-[#d60f0f] text-center">LP Indonesia</h1>
    <h1 class="mb-4 font-['BebasNeue'] text-xl text-[#d60f0f] text-center">Est. 2009</h1>
    <div class="flex justify-center gap-x-4">
      <a href="https://chat.whatsapp.com/IqXlFuxBu2b9Fsa88HqiuR">
        <img src={whatsAppLogo.src} alt="WhatsApp Logo" class="w-6">
      </a>
      <a href="https://www.instagram.com/lp_indonesia" class="uppercase">
        <img src={instagramLogo.src} alt="Instagram Logo" class="w-6">
      </a>
      <a href="https://x.com/lp_indonesia">
        <img src={XLogo.src} alt="X Logo" class="w-6">
      </a>
    </div>
  </div>
</Layout>
