---
import { Image } from 'astro:assets'

import Layout from '../layouts/Layout.astro'
import LPILogo from '../assets/lpi-logo-2024-red.svg'

import Button from '../components/Button.astro'
import PlaylistModal from '../components/PlaylistModal.astro'
import LinkButton from '../components/LinkButton.astro'
import SocialButtons from '../components/SocialButtons.astro'
import Tribute20250426 from '../components/Tribute20250426.astro'
import ExternalLinkButton from '../components/ExternalLinkButton.astro'
---

<Layout title='LP Indonesia'>
  <Image src={LPILogo} alt='LP Indonesia Logo' class='w-40 mb-4' />
  <div class='select-none'>
    <h1 class="-mb-2 font-['BebasNeue'] text-4xl text-[#d60f0f] text-center">
      LP Indonesia
    </h1>
    <h1 class="font-['BebasNeue'] text-xl text-[#d60f0f] text-center">
      Est. 2009
    </h1>
  </div>
  <div class='mb-4 mt-4 relative grid grid-cols-1 gap-y-2'>
    <div class='h-9 w-80 px-6 absolute bottom-full flex justify-between'>
      <img src='/images/pbe.png' alt='PBE' />
      <img src='/images/mjc.png' alt='MJC' />
    </div>
    <Button
      id='dialog-open-from-zero-playlist'
      label='🎵 From Zero World Tour 2025 Playlist'
    />
    <LinkButton url='past-events' label='📅 Past Events' />
    <LinkButton url='merch' label='👕 LPI Merch' />
    <LinkButton url='trivia' label='🧩 Trivia' />
    <a
      href='https://mica-stetson-0f3.notion.site/Panduan-LPRocksMadya2025-151696400394805ab06fe6da32757ac3'
      target='_blank'
    >
      <Button label='📖 Panduan #LPRocksMadya2025' />
    </a>
  </div>
  <SocialButtons />
  <PlaylistModal />
  <Tribute20250426 />
  <script>
    import getDayCountdown from '../utils/getDayCountdown'
    import showEventModal from '../utils/showEventModal'

    function updateCountdown() {
      const daysRemaining = getDayCountdown('2025-02-16T00:00:00')

      if (daysRemaining >= 0) {
        const countdownElement = document.getElementById(
          'countdown-live-in-jakarta-2025'
        )
        if (countdownElement) {
          countdownElement.textContent = `🎫 Live in Jakarta 2025 (D-${daysRemaining})`
        }
      }
    }

    updateCountdown()

    showEventModal(
      'dialog-from-zero-playlist',
      'dialog-open-from-zero-playlist'
    )
    showEventModal(
      'dialog-tribute-night-semarang-20250426',
      'dialog-open-tribute-night-semarang-20250426'
    )
  </script>
</Layout>
