---
import Layout from '../layouts/Layout.astro'
import HuntingTrivia from '../components/react/TriviaComponent'
---

<Layout title='Trivia | LP Indonesia' description='Linkin Park Trivia'>
  <a href='/' class='block mb-4 text-blue-500 lg:hover:underline'
    >← Back to Home</a
  >
  <h1 class='text-3xl font-bold text-center mb-8'>Linkin Park Trivia</h1>
  <HuntingTrivia client:load />
</Layout>
