---
const { label, disabled } = Astro.props
---

<button disabled={disabled} class:list={[
    "w-80 p-4 font-medium rounded-lg",
    disabled ? "bg-[#E0E0E0] text-[#9E9E9E]" : "bg-[#d60f0f] text-white lg:hover:bg-[#b20d0d] lg:transition-all"
  ]}
>
  {label}
</button>
