---
const { label } = Astro.props
---

<button class="w-80 p-4 font-semibold bg-[#d60f0f] text-white rounded lg:hover:text-[#d60f0f] lg:hover:bg-white lg:border-[#d60f0f] border-2 lg:transition-all">
  {label}
</button>
