---
import { Image } from 'astro:assets'
import Button from './Button.astro'

import tributeImg from '../../public/images/20250126-gathering.jpg'
---

<style>
  dialog::backdrop {
    background-color: black;
    opacity: 0.5;
  }
</style>

<dialog id='dialog-gathering-poster-20250126' class='w-full md:w-4/12'>
  <div class='p-4 bg-white flex flex-col items-center'>
    <h1 class='font-bold text-xl'>Gathering LP Semarang</h1>

    <Image
      src={tributeImg}
      alt={'Tribute 11 January 2025'}
      class='object-scale-down w-8/12 shadow mt-4'
    />
    <a
      href='https://forms.gle/3H118Bkdvab4w6Ai6'
      target='_blank'
      class='mt-4 w-full'
    >
      <Button
        disabled
        id='learn-more-gathering-poster-20250126'
        class='w-full'
        label='Sold Out!'
      />
    </a>
    <!-- <p id='seats-remaining-gathering-20250126' class='text-sm animate-pulse'>
      Loading...
    </p> -->
    <button
      id='close-dialog-gathering-poster-20250126'
      class='mt-4 bg-none underline'>Close</button
    >
  </div>
</dialog>

<script>
  // import getDayCountdown from '../utils/getDayCountdown'

  const dialog = document.getElementById(
    'dialog-gathering-poster-20250126'
  ) as HTMLDialogElement
  const closeButton = document.getElementById(
    'close-dialog-gathering-poster-20250126'
  )
  const learnMoreButton = document.getElementById(
    'learn-more-gathering-poster-20250126'
  )

  if (dialog && closeButton && learnMoreButton) {
    const today = new Date().toISOString().split('T')[0]
    const lastShownDate = localStorage.getItem('gathering-poster-20250126')

    const eventDate = new Date('2025-01-26')

    if (lastShownDate !== today && !(new Date(today) > eventDate)) {
      dialog.showModal()
    }

    function closeDialog() {
      dialog.close()
      localStorage.setItem(
        'gathering-poster-20250126',
        new Date().toISOString().split('T')[0]
      )
    }

    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape') {
        closeDialog()
      }
    })

    learnMoreButton.addEventListener('click', () => {
      closeDialog()
    })

    closeButton.addEventListener('click', () => {
      closeDialog()
    })
  }

  // function updateCountdown() {
  //   const daysRemaining = getDayCountdown('2025-01-26T00:00:00')

  //   if (daysRemaining > 0) {
  //     const countdownElement = document.getElementById(
  //       'learn-more-gathering-poster-20250126'
  //     ) as HTMLButtonElement

  //     if (countdownElement) {
  //       countdownElement.textContent = 'Sold Out!'
  //       countdownElement.disabled = true
  //     }
  //   }
  // }

  // async function getSeatsRemaining() {
  //   try {
  //     const response = await fetch(
  //       'https://lpindonesia-panel.vercel.app/api/events/1'
  //     )
  //     const { data: eventDetails } = await response.json()
  //     const pElement = document.getElementById(
  //       'seats-remaining-gathering-20250126'
  //     )
  //     const remainingSeats =
  //       eventDetails.max_participants - eventDetails.current_participants
  //     if (pElement && remainingSeats > 0) {
  //       pElement.textContent = `${remainingSeats} Seats Remaining`
  //     } else if (pElement) {
  //       pElement.textContent = ''
  //     }
  //   } catch (error) {
  //     console.error('Error fetching event details:', error)
  //   }
  // }

  // getSeatsRemaining()
  // updateCountdown()
</script>
