---
import { Image } from 'astro:assets';

import checkGreen from '../assets/check-green.svg';

const { name, price, features, isBestValue } = Astro.props;
---

<div class:list={[
    "bg-white p-4 w-64 rounded-lg shadow-lg flex flex-col",
    isBestValue ? "border-2 border-rose-200" : ""
  ]}>
  <div class="relative w-48 h-48 border-2 border-gray-800 bg-slate-200 rounded-lg overflow-hidden self-center">
    {
      isBestValue && <div class="absolute right-0 w-fit bg-[#d60f0f] text-white font-medium text-sm py-1 px-2 rounded-md self-start">Best Value</div>
    }
  </div>
  <h3 class="mt-2 font-semibold text-lg">{name}</h3>
  <span class="font-bold text-xl">IDR {price}K</span>
  <ul class="mt-2">
    {
      features.map((feature: string) => (
        <li><Image src={checkGreen} alt="check icon" class="inline mr-1"/><span>{feature}</span></li>
      ))
    }
  </ul>
</div>