---
import { Image } from 'astro:assets';
const { url, src, alt } = Astro.props;
---

<a href={url} target="_blank" class="lg:hover:scale-[1.05] lg:transition-all">
  <Image src={src} alt={alt} class="w-6">
</a>