---
import { Image } from 'astro:assets'
import Button from './Button.astro'

import dialogImg from '../assets/events/20250426-tribute-smg.jpg'
import showEventModal from '../utils/showEventModal'

const ID_DIALOG = 'dialog-tribute-night-semarang-20250426'
const ID_DIALOG_OPEN = 'dialog-open-tribute-night-semarang-20250426'
const ID_DIALOG_CLOSE = 'dialog-close-tribute-night-semarang-20250426'
const ID_LEARN_MORE = 'learn-more-tribute-night-semarang-20250426'
const LOCAL_STORAGE_KEY = 'lpindonesia-tribute-poster-20250426'
const EVENT_DATE = '2025-04-26'
---

<style>
  dialog::backdrop {
    background-color: black;
    opacity: 0.5;
  }
</style>

<dialog id={ID_DIALOG} class='w-full md:w-4/12'>
  <div class='p-4 bg-white flex flex-col items-center'>
    <h1 class='font-bold text-xl'>Tribute Night Semarang</h1>

    <Image
      src={dialogImg}
      alt={'Tribute Night Semarang 26 April 2025'}
      class='object-scale-down w-full lg:w-10/12 shadow mt-4'
    />
    <a
      href='https://forms.gle/pb51pNh9tYmKvznd9'
      target='_blank'
      class='mt-4 w-full'
    >
      <Button
        id={ID_LEARN_MORE}
        class='w-full'
        label='ðŸŽŸï¸ Get Your FREE Entry!'
      />
    </a>
    <button
      id={ID_DIALOG_CLOSE}
      class='mt-4 bg-none underline'>Close</button
    >
  </div>
</dialog>

<script define:vars={{
  ID_DIALOG_CLOSE,
  ID_DIALOG_OPEN,
  ID_DIALOG,
  ID_LEARN_MORE,
  LOCAL_STORAGE_KEY,
  EVENT_DATE,
}}>
  const dialog = document.getElementById(
    ID_DIALOG
  )
  const closeButton = document.getElementById(
    ID_DIALOG_CLOSE
  )
  const learnMoreButton = document.getElementById(
    ID_LEARN_MORE
  )

  if (dialog && closeButton && learnMoreButton) {
    const today = new Date().toISOString().split('T')[0]
    const lastShownDate = localStorage.getItem(LOCAL_STORAGE_KEY)

    const eventDate = new Date(EVENT_DATE)

    if (lastShownDate !== today && !(new Date(today) > eventDate)) {
      dialog.showModal()
    }

    function closeDialog() {
      dialog.close()
      localStorage.setItem(
        LOCAL_STORAGE_KEY,
        new Date().toISOString().split('T')[0]
      )
    }

    document.addEventListener('keydown', (event) => {
      if (event.key === 'Escape') {
        closeDialog()
      }
    })

    learnMoreButton.addEventListener('click', () => {
      closeDialog()
    })

    closeButton.addEventListener('click', () => {
      closeDialog()
    })
  }
</script>
