<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="LP Indonesia" />
    <meta property="og:url" content="https://lpindonesia.github.io/" />
    <meta property="og:image" content="/images/lpi-og-landscape.png" />
    <meta property="og:description" content="Est. 2009 | Always, #IndonesiaNeedsLP" />
		<title>LP Indonesia</title>
	</head>
	<body class="flex flex-col justify-center items-center">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}

  @font-face {
    font-family: 'BebasNeue';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  }
</style>
